<!DOCTYPE html>
<html>
  <title>Learning Go</title>

  <body>
    <form action="/signup" method="POST">
      <input type="text" name="username" placeholder="Enter Name">
      <input type="submit" value="Sign-Up"/>
    </form>


    {{ $length := len . }} {{ if ne $length 0 }}
    <table>
        <tr>
            <th> User </th>
            <th> Count </th>
        </tr>

        {{ range $key, $value := . }}
        <tr>
            <td> {{ $key }} </td>
            <td> {{ $value }} </td>
        </tr>
        {{ end }}

    </table>
  {{ else }}
    <h2> No users yet! </h2>
  {{ end }}

  </body>
</html>
